@await Component.InvokeAsync("Menu" , new {})
<h1>Личный кабинет</h1>


<div class="media">
  <img class="mr-3" src="~/Pictures/@ViewBag.User_data.picture_profile" alt="Generic placeholder image" width="128px" height="128px">
  <div class="media-body">
    <h5>@ViewBag.Translate_words[28]: @ViewBag.User_data.login</h5>
    <h5>@ViewBag.Translate_words[22]: @ViewBag.User_data.first_name @ViewBag.User_data.second_name</h5>
    <h5>@ViewBag.Translate_words[52]: @ViewBag.User_data.score у. е.</h5>
  </div>
  
  <div>
    <form method="post" asp-controller="User" asp-action="UpdateInfo_page"  class="form_line">
        <button type="submit"  class="btn btn-sm-2 btn-dark">@ViewBag.Translate_words[55]</button>
    </form>
  </div>
</div>

<div class="row">
    <div class="_Cart">
        <div class="card" style="width: 16rem;  height:10rem;">
            <div class="card-body">
                <h5 class="card-title">  Ващи заказы  </h5>
                <div class="inline">
                    <a  method ="get" asp-controller="User" asp-action="Orders" class="btn btn-sm-2 btn-dark mb-2">Все заказы</a>
                </div>
            </div>
        </div>
    </div>

     <div class="_Cart">
        <div class="card" style="width: 17rem; height:10rem">
            <div class="card-body">
               
                <h5 class="card-title"> Избранное </h5>
                <a  method ="get" asp-controller="User" asp-action="YourLiked" class="btn btn-sm-2 btn-dark mb-2">В избранном</a>
            </div>
        </div>
    </div>
</div>





