
<svg class="bi bi-basket" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">

</svg>
<nav class="nav flex-column navbar-light">
  <ul class="navbar-nav">
    <li  class="nav-item">
      <a  class="nav-link active" asp-controller="Home" asp-action="Index"><h2>Study Group</h2></a> 
    </li>
    @if(@ViewBag.isAuthorizationUser)
     {
      @foreach (var itemMenu in @ViewBag.Menu )
        {
          <li class="nav-item" >
            <a class="nav-link active" asp-controller="@itemMenu[1]" asp-action="@itemMenu[2]"><h5>@itemMenu[0]</h5></a> 
          </li>
        }
      }
    else
    {
       <li class="nav-item" >
         @foreach (var itemMenu in @ViewBag.Menu )
         {
          <a  asp-controller="@itemMenu[1]" asp-action="@itemMenu[2]">@itemMenu[0]</a>
         }
       </li>
    }
  </ul>
</nav>


